.traineeship {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.traineeship--overview {
	
	margin: 0 auto;
}

.traineeship--icon--container {
	display: flex;
	margin: 30px 20px;
	border-radius: 100%;
	padding: 10px;
	background-color: rgb(227, 17, 171);
	align-items: center;
}

.traineeship--icon {
	height: 70px;
	width: 70px;

}

.traineeship--subtext {
	width: 60%;
}

.traineeship--row {
	align-items: center;
	width: 80%;
	justify-content: space-around;
	display: flex;
}

.traineeship--images {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

.traineeship--image--title {
	margin-bottom: 0;
}

.traineeship--image {
	margin: 20px 20px;
	width: 500px;
	height: 500px;
	object-fit: cover;
	border-radius: 6px;
}